:root {
  --box-size: 300px;

	--color-green:  hsl(120, 50%, 30%);
  --color-blue:   hsl(240, 50%, 30%);
  --color-red:      hsl(0, 50%, 30%);
  --color-yellow:  hsl(60, 50%, 30%);

  --color-dark-blue:   hsl(240, 100%, 60%);
  --color-dark-red:    hsl(0,   100%, 60%);
	--color-dark-green:  hsl(120, 100%, 60%);
  --color-dark-yellow: hsl(60,  100%, 60%);
}

body {
	margin: 0;
	background-color: black;
}

.game {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.start-button {
	width: calc(var(--box-size)*.8);
	height: calc(var(--box-size)*.8);
	background-color: black;
	position: absolute;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: 1s linear border;
	border: 0px solid;
}
.start-button:hover {
	border: 6px solid rgb(255, 255, 255);
	transition: 0.5s linear border;
}

.start-button > span {
	color: white;
	font-size: 30px;
	cursor: pointer;
}
.start-button:hover > span {
	font-weight: bolder;
}

.box-container {
	width: calc(var(--box-size)*2.1);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.box {
	width: var(--box-size);
	height: var(--box-size);
	background-color: blueviolet;
}
.box:hover {
	border: 1px solid white;
}

.box:active {
	scale: 1.1;
}

.top-left     { border-top-left-radius: 100%;     }
.top-right    { border-top-right-radius: 100%;    }
.bottom-left  { border-bottom-left-radius: 100%;  }
.bottom-right { border-bottom-right-radius: 100%; }

.green { background-color: var(--color-green); }
.yellow { background-color: var(--color-yellow); }
.red { background-color: var(--color-red); }
.blue { background-color: var(--color-blue); }

.green-dark { background-color: var(--color-dark-green); }
.yellow-dark { background-color: var(--color-dark-yellow); }
.red-dark { background-color: var(--color-dark-red); }
.blue-dark { background-color: var(--color-dark-blue); }

.off {
	display: none;
}
